body {
    font: 1em sans-serif;
}

#source, #output {
    float: left;
    padding: 1em;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 10px;
    margin-right: 2em;
}

#source, #errors {
    text-align: center;
}

textarea {
    display: block;
}

input[type=button] {
    background-color: #090;
    border: 0;
    border-radius: 1em;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    margin-top: 1em;
    cursor: pointer;
}

#errors {
    table-layout: fixed;
    width: 400px;
    font-size: 0.8em;
}

#errors td {
    padding: 0 1em;
}

#errors th:last-child {
    width: 150px;
}

#annotated-source {
    position: relative;
}

#source-with-errors {
    position: absolute;
    left: 0;
    top: 0;
}

#annotated-source, #source-with-errors {
    margin: 0;
}

#source-with-errors {
    color: rgba(0, 0, 0, 0);
}

.token-keyword {
    font-weight: bold;
    color: #00007f;
}

.token-error, .token-unterminated-string, .token-string-with-invalid-escape-codes {
    background: url(underline.gif) bottom repeat-x;
}

.token-string, .token-unterminated-string, .token-string-with-invalid-escape-codes {
    font-weight: bold;
    color: #aa3300;
}

.tooltip {
    position: absolute;
    font-size: 0.8em;
    background-color: #ffc;
    border: 1px solid #888;
    padding: 0.3em 1em;
}
